<p id="notice"><%= notice %></p>

<p>
  <strong>Ip:</strong>
  <%= @http_request.ip %>
</p>

<p>
  <strong>Address:</strong>
  <%= @http_request.address %>
</p>

<%= link_to 'Edit', edit_http_request_path(@http_request) %> |
<%= link_to 'Back', http_requests_path %>
